[2013-12-20 20:35] jescalan opened #3 "Rename directory?"
What do you guys think about this one? Happy to take a stab at a PR if it seems legit.

[2013-12-21 04:57] hparra opened #4 "README does not follow conventions"
https://github.com/wearefractal/gulp/wiki/Plugin-README-Conventions

[2014-01-15 10:21] hparra opened #9 "Gulpfile is unnecessary"
Bloats plugin. Remember to change tests accordingly.

[2014-01-16 22:48] hparra opened #10 "Tests rely on gulp"

[2014-01-27 17:24] tchap opened #11 "Rename fails when cwd is specified in src"
Hi,

I am wondering why

[code]

works while

[code]

does not. In the latter case the file is not created at all, or at least I haven't found it.

Btw this is my first gulpfile, so I hope I am not doing something totally wrong...

Thanks!

[2014-02-01 21:55] r3mi opened #13 "renaming via object fails when path contains '.'"
renaming via an object fails when path contains '.'  : the result contains a duplicated extension.
Example `gulpfile.js` :

[code]

Assuming you create the files "test/hello.txt" and "te.st/hello.txt", running `gulp` will output :

[code]

Note: there is no issue when renaming via function instead of object.

[2014-02-07 01:03] #3 closed, assigned to nobody

[2014-02-07 01:03] #11 closed, assigned to nobody

[2014-02-07 01:03] #13 closed, assigned to nobody

[2014-02-13 16:36] gberger opened #16 "suffix option does not respect "multiple" extensions"
[code]

I expected it to be abc-v2.0.1.min.js.

Is there an easy way to do this, or would I need to use a custom function?

[2014-02-28 11:45] lmartins opened #17 "Appends filename but doesn't change extension"
Im trying to run this task on a folder of html email templates, which originally are php files, to convert them to preview files in html.

The -preview suffix is added correctly but the new file created still keeps the .php extension. Am I missing something here?

[code]

[2014-03-05 09:59] #17 closed, assigned to nobody

[2014-03-27 18:56] kylamedina opened #20 "Upper and Lowercase"
Just an idea.. It would be cool if it there was an option to upper and lowercase names.

[2014-04-23 18:46] ryanbrodie opened #22 "Arguments to path.join must be strings"
Unless I return path (such as below) I get a string concatenation error.
[code]
From my own debugging it appears that `obj(parsedPath)` isn't returning anything at `index.js:30` but I'm not sure why.

[2014-07-18 08:40] christianhaller opened #25 "path.extname is renaming directories with dot"
![gulp-rename](https://cloud.githubusercontent.com/assets/138188/3623963/661e663e-0e56-11e4-9010-57274e92a7eb.gif)
If I call gulp-rename with gulp.src("test/**/*") it renames also the directories with a dot in the dirname (e.g. www.google.com)

When I add the following lines in _node_modules/gulp-rename/index.js_ it works

    stream._transform = function(file, unused, callback) {
        if(!file

[2014-08-14 16:27] madastro opened #26 "Remove a part of the file name on rename"
I have several files with the following format:

[code]

is it possible to remove the SN*_ part of those files and leave the template#.css as is?
This is the current gulp.task that I'll be adding the rename pipe to:

[code]

[2014-08-28 20:08] demisx opened #28 "How prepend a directory to an existing path?"
Hi. I currently have this task:

[code]
I need the "out"  file to be `.build/app/app.js`. Is there a way to prepend a '.build/' directory to an existing path?

Thanks.

[2014-09-27 14:09] hakubo opened #30 "Consider adding .npmignore file"
Hey,

I am a happy user of your library, but as my project grows we have a lot of dependencies.
We could save a lot of space if you added `.npmignore` file to your project.

I even found tool that can help you with it: https://github.com/inikulin/dmn

Thanks!

[2014-10-10 10:29] radekn opened #31 "File name changes propagate backwards in the stream pipeline"
gulp-rename seems to mutate its input, which means means that changes propagate backwards in the stream pipeline.
Consider following code:

[code]
`mergeStreams` is a function that pipes the sources into one destination stream and closes it when all sources end, and `minify` just returns a stream that minifies JS files.

This pipeline should write two files: `build/script.js` - an unchanged copy o

[2014-12-11 13:08] DavidOliver opened #34 "Source files not deleted"
Hi. I'm probably doing something wrong, but I'm finding the source files are not being deleted and that I end up with both the original and newly-named files.

I'm trying to rename a directory of `.svg` files to `.tpl`.

[code]

I'm using `1.2.0`, and I have write permissions for the files in question. Thanks.

[2014-12-17 01:53] shinnn opened #35 "Needs maintainers?"
@hparra

Currently this repo has some unreviewed PRs and open issues, but haven't been updated since over a half year ago.

I'd happily maintain this repo if you want to collaborate me.

[2014-12-17 10:15] #34 closed, assigned to nobody

[2015-01-20 10:56] psi-4ward commented on #35
Please keep working on this plugin!!!
Add some more maintainers if you dont have time

[2015-01-20 11:18] psi-4ward commented on #26
untested:

[code]

[2015-01-27 06:43] w0rm commented on #35
Sad to find this project is abandoned.

[2015-01-27 06:49] w0rm opened #37 "Source map support"
Got make it work with gulp-sourcemap in-between other plugins that support it, please also rename file.sourceMap.file = file.relative.

[2015-01-27 16:16] contra commented on #35
@hparra can you add some external maintainers?

[2015-01-27 16:26] shinnn commented on #35
I sent an e-mail to the owner about a month ago, but I still haven't had an answer from him.

[2015-01-27 16:30] popomore commented on #35
The last activity is on 8 Dec 2014.

How about fork this repo to gulpjs for maintaining @contra

[2015-01-27 17:57] contra commented on #35
I met @hparra in Los Angeles in July of last year, he doesn't seem like the type to let a package die like this. It seems like he has been totally gone from the internet since November, maybe something happened?

[2015-01-27 20:27] w0rm commented on #35
@hparra responded to my tweet, seems to be there just super busy. Maybe it's possible to convince him to transfer the ownership of npm package.

[2015-02-16 00:11] mgcrea commented on #35
Any package to use meanwhile that performs renames with sourcemaps support? Maybe it's time for a `gulp-rename2` package?

[2015-03-07 16:47] tcurdt commented on #35
https://github.com/AlicanC/gulp-rename has the fixes that got me here.

@hparra please let some else help if you don't have the time.

[2015-03-11 06:15] hparra commented on #35
I've added @shinnn and @contra as collaborators both here and on npm.  I feel unqualified to merge anything since I haven't used Gulp in at least 6 months.

I'm really sorry about this.

[2015-03-11 06:23] popomore commented on #35
:+1:

[2015-03-11 08:09] tcurdt commented on #35
(y) ...so how about some merging and release action @shinnn and @contra :)

[2015-03-11 10:23] shinnn commented on #35
We've been expecting you, @hparra! Thanks for giving us permissions.

@hparra What do you think about coding style? Currently this project uses [mixed spaces/tabs](https://github.com/hparra/gulp-rename/blob/323529f0456f096ba415b028725aeb76bff25c79/index.js#L4-L7). If you kindly accept it, I would like to switch the indents to 2 spaces.

[2015-03-11 11:15] stevemao commented on #35
Happy to see this module became alive :+1: keep up the good work @shinnn

[2015-03-11 11:42] shinnn commented on #30
Fixed. https://github.com/hparra/gulp-rename/commit/34f4a1f591262bba8c56ec3b7231a4d6e1e61671

[2015-03-11 11:42] #30 closed

[2015-03-11 11:45] shinnn commented on #31
As @crissdev said, and already concluded in https://github.com/gulpjs/gulp/issues/754 and https://github.com/terinjokes/gulp-uglify/issues/62.

[2015-03-11 11:45] #31 closed

[2015-03-11 11:59] shinnn commented on #22
https://github.com/hparra/gulp-rename/commit/7cb3edc3bc192f8fc3bc95b1a5701867bd011874

[2015-03-11 11:59] #22 closed

[2015-03-11 12:05] shinnn commented on #20
This plugin doesn't need to have this feature. We can use [other awesome Node modules to change case](https://github.com/blakeembrey/change-case#usage) of the file name inside the function passed to the gulp-rename.

[2015-03-11 12:05] #20 closed

[2015-03-11 12:14] shinnn commented on #28
[code]

[2015-03-11 12:14] #28 closed

[2015-03-11 12:15] shinnn commented on #26
@psi-4ward is right.

[2015-03-11 12:15] #26 closed

[2015-03-11 12:19] shinnn commented on #25
[node-glob](https://github.com/isaacs/node-glob#options)'s `nodir` option helps you.

According to [`gulp.src` documentation](https://github.com/gulpjs/gulp/blob/86938061512f7633567026480dca03903ac07485/docs/API.md#options):

[node-glob documentation]: https://github.com/isaacs/node-glob#options
[node-glob]: https://github.com/isaacs/node-glob
[glob-stream]: https://github.com/wearefractal/glob-st

[2015-03-11 12:19] #25 closed

[2015-03-13 19:05] hparra commented on #35
Thank you so much @shinnn. Do whatever is best for the community.

[2015-03-13 19:05] #35 closed

[2015-03-13 22:38] shinnn commented on #35
@hparra You're welcome! I'll discuss it with community.

[2015-03-14 11:46] #37 closed

[2015-03-19 21:19] bretthayes opened #39 "Renaming multiple files"
Is there support for this? For example:

[code]

[2015-03-19 22:31] contra commented on #39
Use gulp-if

[code]

[2015-03-22 22:35] bretthayes commented on #39
@contra Doesn't work. The output to my build folder still compiles the original file names. Any ideas?

[code]

[2015-03-22 22:37] contra commented on #39
@robrich Shouldn't that work with gulp-if?

[2015-03-22 22:39] shinnn commented on #39
@bretthayes Could you show us the values of `paths.jade`?

[2015-03-22 22:45] bretthayes commented on #39
[code]

[2015-03-22 22:47] shinnn commented on #39
[code]

[2015-03-22 23:03] bretthayes commented on #39
@shinnn Perfect! Specifying the asterisks for the source made it work: `**/oldfileName.html`.

Also using `gulp-debug` confirmed the path `./src/jade/oldFileName.html` being output during the compilation.

Thanks guys!

[2015-03-22 23:05] shinnn commented on #39
No problem :)

[2015-03-22 23:05] #39 closed

[2015-03-27 15:20] rootical opened #40 "Why dirname is always '.'?"
[code]
I want to know the name of the directory. Why is it always equal to ``'.'``? Any way to get it correctly?

[2015-03-27 17:24] shinnn commented on #40
No, dirname is not always `.`. Check [the readme](https://github.com/hparra/gulp-rename/tree/5f0760b526f29f0b839e677194bdba45d0aaee49#notes):

`gulp.src(['client/README.md'])` sets base path to `client/`.

[code]

[2015-03-27 17:24] #40 closed

[2015-03-30 02:07] #9 closed

[2015-03-31 09:21] mgcrea opened #44 "Create new npm/github release"
Would be great to have a new release (and ideally frequent releases).

[2015-03-31 09:26] mgcrea opened #45 "Use two-spaces indentation"
Maybe it's the proper time to do a cleanup, before a new release since there is no ongoing PR (except the rename module one).

[2015-03-31 09:33] contra commented on #45
yup :+1:

[2015-03-31 09:52] shinnn commented on #45
+1

[2015-03-31 19:30] #45 closed

[2015-03-31 19:31] contra commented on #44
I'm not authorized to publish apparently

[2015-04-01 13:43] shinnn commented on #44
@contra No, you are authorized.

[code]

[2015-04-01 17:09] contra commented on #44
@shinnn I don't use that github account, everything is under the https://www.npmjs.com/~fractal acc

[2015-04-01 17:19] shinnn commented on #44
@contra Added `fractal` just now.

[code]

[2015-04-02 00:09] contra commented on #44
Published as 1.2.2

[2015-04-02 00:09] #44 closed

[2015-04-07 17:50] PeterKruzlics opened #48 "file.base is undefined"
Hello,

I am using gulp-rename to rename a browserify bundle, and I am getting an "Arguments to path.join must be strings" error, which I managed to trace back to find that file.base is undefined (line 52 in index.js). I have been playing around with the rename function in gulp but haven't been able to set the file.base var any actual value. Can there be a default blank value so this error doesn't

[2015-04-07 19:05] contra commented on #48
Can you make a repo that reproduces this issue with the minimum amount of code?

[2015-04-07 19:11] PeterKruzlics commented on #48
I can, may take a while...

I continued fooling around with it and figured out why the file.base was returning undefined.

My code segment surrounding the rename function:
[code]

I had grabbed this template off of an example online which had stated that the "source()" part doesn't have to reference an actual file (just a random file name) since the file will get created with the browserified cont

[2015-04-07 19:22] PeterKruzlics commented on #48
Not sure if a check should be put in for that, but otherwise this issue was my bad and can probably be closed... Thanks!

[2015-05-04 13:02] dabbank opened #49 "gulp rename with multiple src globs"
Hi,

using 1.2.2 and windows 7

gulp.src(["file1.js", "file2.js", "file3.js"])
.pipe(rename("all.js"))

will not work. Not all files will be included.

without rename, it will create all files, but in separate files.

Does rename only work with single file ?

[2015-05-04 13:11] shinnn commented on #49
It's an expected behavior. Because all the files are renamed to exactly the same name, previously passed files are overwritten and `gulp.dest` writes only the last file to the destination folder.

Yes, that's also an expected behavior. `gulp.dest` doesn't concatenate multiple files.

No. gulp-rename can rename multiple files.

[2015-05-04 13:11] #49 closed

[2015-06-06 12:58] martinoppitz opened #51 "path.extname not work"
Example:
[code]

Console:
[code]

[2015-06-06 13:16] shinnn commented on #51
Please read [the documentation](https://github.com/hparra/gulp-rename/tree/7db2069b70ff1778a021db06b60f6693db1469ad#notes) again:

[code]

[code]

[2015-06-06 13:16] #51 closed

[2015-07-31 11:04] ghost23 opened #53 "question: not renaming, just copying?"
Hi,

I am probably missing something here. gulp-rename is not renaming my file, but merely copying it with a new name.

This is what I do:

gulp.src("./dev/out/css/main.css")
	.pipe(rename("main_something.css"))
	.pipe(gulp.dest("./dev/out/css/"));

Running this, I end up with the main.css AND the main_something.css file.

[2015-08-03 16:07] misteroh commented on #53
This plugin doesn't delete the src file:
https://github.com/hparra/gulp-rename/issues/34

Please refer to this link in order to delete the src file
https://github.com/gulpjs/gulp/blob/master/docs/recipes/delete-files-folder.md#delete-files-in-a-pipeline

[2015-08-03 16:18] ghost23 commented on #53
Oh, I see.

[2015-08-03 16:18] #53 closed

[2015-08-15 17:18] evilebottnawi opened #54 "toString on path in function"
Add function toString to object in function. toString must return original path.
[code]

[2015-08-15 17:23] shinnn commented on #54
Is there any use case?

[2015-08-15 17:49] evilebottnawi commented on #54
@shinnn i use multimatch in function rename. From the time it can be changed logic parse path. Not too elegant to do so.
[code]
So I think that this possibility should be implemented to hide the details of logic, and easy to get the full path

[2015-08-15 18:02] shinnn commented on #54
In this case you don't need to use gulp-rename. You can use [through2](https://github.com/rvagg/through2) directly.

[code]

[2015-08-15 18:12] #54 closed

[2015-08-15 18:36] evilebottnawi commented on #54
@shinnn why? i need rename file and gulp-rename perfect for me

[2015-08-18 03:04] joaumg opened #55 "gulp-rename doesn't remove the original file"
Hello, I'm using you're plugin and I found a odd behavior.

I create a hello.txt file, tell gulp-rename to rename it to _hello.txt, and when I do a linux ls, the original file is still there...

    joaumg :: ~ » touch hello.txt
    joaumg :: ~ » cat gulpfile.js
    var gulp = require( 'gulp' );
    var rename = require( 'gulp-rename' );

    gulp.task( 'default', function () {
        gulp.src( "

[2015-08-18 03:31] shinnn commented on #55
https://github.com/hparra/gulp-rename/issues/53#issuecomment-127289889

[2015-08-18 03:31] #55 closed

[2015-10-06 08:52] wayofspark commented on #16
Had the same issues for my "*.js.map" files.

[2015-10-22 15:33] Ristaaf opened #58 "dirname is not normalized over os:es"
One good thing with using node programs (like gulp, and it's extensions), is that you should not have to care if the program runs on Linux, OSX or Windows, therefore I think it is good to have normalized paths over OSes, but with gulp-rename the dirname will have / as delimiters in OSX and Linux, but \ as delimiters in Windows. This makes it hard to use gulp-rename cross platform.
gulp-rename shou

[2015-10-22 15:55] shinnn commented on #58
I see the issue you come from https://github.com/rangle/batarangle/issues/43, and the problem should be fixed in that project by using [path.sep](https://nodejs.org/api/path.html#path_path_sep) or something else. I won't add any workarounds for https://github.com/rangle/batarangle/issues/43 to this plugin.

This change probably brings a lot of problems rather than solutions.

[2015-10-22 15:55] #58 closed

[2015-10-22 19:56] Ristaaf commented on #58
Ok, that is fine, when thinking about it, IF it should be fixed anywhere it should be even higher up (in node.js path), so I guess I will try to find out why they are not doing this, I for one certainly though that when using node.js I would not have to worry about file paths and which os I was on, it would just work, and that seems not to be the case here.

Thanks for reading and replying to my i

[2015-10-28 14:15] daviestar opened #59 "Distinguish between directories and files"
Hello,

I've been using `gulp-rename` in a task to add `@2x` to my hi-res assets in my `img` folder, which I'm sure is a common case.

My `img` folder contains a few directories, which I need to keep.  I'm finding that `gulp-rename` is also adding `@2x` to those directories.  The way I'm getting round it is simply:

[code]

I'm sure this will catch me out at some point... is there a better solutio

[2015-10-28 22:25] contra commented on #59
@daviestar could pass the file in as the second argument which has that info on it

[2015-10-29 13:55] daviestar commented on #59
@contra there isn't a 2nd argument passed to `gulp-rename`, if i'm understanding you correctly:

[code]

[2015-10-29 14:17] shinnn commented on #59
You can pass [node-glob](https://github.com/isaacs/node-glob#options) options to [gulp.src](https://github.com/gulpjs/gulp/blob/d41118ff3663ff1f5dac52ea3622febcaa9fadee/docs/API.md#gulpsrcglobs-options) and node-glob supports `nodir` option.

Right.

[2015-10-29 14:17] #59 closed

[2015-12-03 10:28] jamescrosswell opened #60 "Error: EISDIR, open 'C:\code\My.Project\index.html'"
Very strange error.

The following works just fine:

[code]

However this causes an Error: EISDIR, open:

[code]

This is on Windows 7 and my project is in a folder that has dots in the folder name (which I figured might be relevant).

[2015-12-08 12:38] fedulovivan opened #61 "How to avoid overriding destination file if rename target already exists"
Hello,
is it possible to perform additional check before writing destination file, and omit renaming operation if destination file already exists?

My usecase is creating real config files from samples:
[code]

[2015-12-08 13:36] heikki commented on #61
https://github.com/hparra/gulp-rename#usage -> `rename via function`

[2015-12-09 13:35] contra commented on #61
@fedulovivan `gulp.dest` has an overwrite option which you can set to false

[2015-12-09 13:35] #61 closed

[2015-12-10 07:14] fedulovivan commented on #61
@contra Probably this is some kind undocumented dest option.
[code]
In fact these two options below does not work:
[code]

[2015-12-10 09:29] heikki commented on #61
@fedulovivan It is in 4.0 branch -> https://github.com/gulpjs/gulp/blob/4.0/docs/API.md#optionsoverwrite

[2015-12-10 16:13] fedulovivan commented on #61
@heikki Right, thanks! This new option actually listed in 4.0.0 change log.

[2015-12-15 11:27] camilleterol opened #62 "Access file object from function."
It's more a feature request than an issue.
I wonder if some people are interested in this function.
For a particular project, (a file-based, static blog "engine"), I'd like to get data from the front matter, and rename my file accordingly (i.e. move a file to date folder/tree - yyyy/mm/dd/my-file.md)
My data is fed through the file object down the stream.

It'd be great if we could have a second p

[2015-12-15 12:31] shinnn commented on #62
https://github.com/hparra/gulp-rename/pull/52#issuecomment-120421471

[2015-12-15 12:31] #62 closed

[2016-01-06 10:33] wembernard commented on #53
Cannot agree more with @ghost23. This plugin name is misleading. Should be called `gulp-copy` instead of `gulp-rename` imho.

[2016-01-07 02:16] contra commented on #53
No, it shouldn't be called gulp-copy. It's called gulp-rename because it renames an in-memory gulp file object. gulp is like functional programming, each plugin takes in input and produces output in-memory without causing side effects.

[2016-01-07 10:03] wembernard commented on #53
I see your point. Then maybe a simple optional parameter such as `deleteOrigin: true` (false by default) would be a nice compromise?

[2016-01-07 10:06] shinnn commented on #53
@wembernard We'll never add it. `deleteOrigin` option violates [the plugin guideline](https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/guidelines.md).

[2016-01-13 06:48] Nate-Wilkins opened #63 "Include original file context"
I'd like to be able to access the properties assigned to the file object from other plugins.

If another plugin adds `myProperty` to the file, I'd like to be able to read it in the rename plugin.

Would this be a reasonable feature?

[2016-01-13 06:56] contra commented on #63
We could pass `file` as the second argument and make that data available, but in that case this module is doing nothing that `gulp-tap` isnt doing. Check out `gulp-tap` and let me know if using that instead solves your problem, that allows you to modify files as they go through the stream however you want

[2016-01-13 07:11] Nate-Wilkins commented on #63
That's currently what I am using but I do like the explicit call to gulp-rename.

The main problem I'm trying to solve is renaming a file slightly based on it's current path.

I can stick to gulp-tap just a thought :+1:

[2016-01-16 02:13] goldsteinr opened #64 "Working weird in gulp watch"
i'm trying to watch a scss file and change the output .css to .css.liquid and send to another folder. I've made it work, but the rename task only works after the second save in the file. Its pretty weird. I thought it was the sass task running first, but not even with run-sequence its working. Do you guys have any tips?

[2016-01-16 04:03] shinnn commented on #64
Support questions go to https://stackoverflow.com/. Use this issue tracker for only bug reports or feature requests.

[2016-01-16 04:03] #64 closed

[2016-01-16 04:04] shinnn commented on #60
Duplicate of https://github.com/hparra/gulp-rename/issues/16.

[2016-01-16 04:05] #60 closed

[2016-02-14 19:56] giovannicandido opened #65 "Renaming directory maintain the original empty directory on destination"
gulp.dest keeps creating the original renamed empty directory's

Suppose I have:

    .pipe(rename(function(file){
        if(file.dirname.contains(packageReplacements)){
          file.dirname = file.dirname.replace(packageReplacements, newPackage)
        }
    }))
    .pipe(gulp.dest('.'))

The destination will have the original directories empty, and the renamed ones with the files

I think th

[2016-02-15 04:18] shinnn commented on #65
For your purpose, let `gulp.src` ignore directories by using glob pattern and [options](https://github.com/isaacs/node-glob#options).

(ref. https://github.com/hparra/gulp-rename/issues/59#issuecomment-152194264)

[2016-02-15 04:18] #65 closed

[2016-02-16 01:34] giovannicandido commented on #65
Just to clarify, my task is:

[code]

The point of interest is all directories with the pattern \*\*/info/atende/touch/\*\* are renamed to \*\*/user/provided/directories/\*\*, but after the rename the directory is still on the stream (empty) and therefore _gulp.dest_ creates then. So, another filter takes place after the rename and remove the renamed folders from the stream.

Is there a better way

[2016-02-16 02:03] shinnn commented on #65
Just what I said in https://github.com/hparra/gulp-rename/issues/65#issuecomment-184060339. The simplest way is using glob's `nodir` option.

Further questions go to StackOverflow. http://stackoverflow.com/questions/tagged/gulp-rename

[2016-02-16 02:06] #48 closed

[2016-03-10 09:04] kyo4311 opened #66 "how to delete old files?"
[code]
rename a_thumb.gif to a.gif
after renamed, i want delete the a_thumb.gif

[2016-03-10 09:08] contra commented on #66
https://www.npmjs.com/package/gulp-rimraf before rename.

Questions like this belong on stackoverflow, btw

[2016-03-10 09:08] #66 closed

[2016-03-11 05:13] apowers313 opened #67 "Absolute path?"
It looks like the `dirname` option is relative, even if it includes a leading `/`. Is there any way to specify an absolute path, such as `/etc` or `/tmp`?

[2016-04-11 14:59] brb-elia opened #68 "Directory and sub-directory files rename"
I have this directory structure:

[code]

and I use this code for renaming all the #NAME# placeholder with the correct value:

[code]

the gulp task only rename (copy but not delete) the #NAME#.xcodeproj file but not the directory and its files. How can I solve this problem?

[2016-06-13 20:38] connerbw commented on #61
I would also like this feature but Gulp 4 is still in alpha?

Can someone post an example of how to do this without using the new feature? I looked at rename and it's not what I'm after.

Code:

[code]

Expected: Existing files are not overwritten
Actual: Existing files are overwritten

[2016-07-15 18:30] Imangazaliev commented on #16
Please add `extDot` option such as in Grunt: http://gruntjs.com/configuring-tasks

[2016-08-08 11:41] dewwwald commented on #61
If you would like to see two solutions check this out.

http://stackoverflow.com/questions/38827441/gulp-write-file-if-none-exist/38828128#38828128

[2016-09-11 23:56] lukehatfield opened #70 "Change extension to php?"
When I run `.pipe(rename({ extname: '.php' })` in one of my gulp functions, I'm seeing it change to `.html`, not `.php`. If I try `.php.html` it works as expected by changing the file to an extension of `.php.html.` How can I get it to change the filename to an extension of `.php`?

[2016-09-12 00:04] lukehatfield commented on #70
Ah, moved rename after my .pipe(jade()) and it works!

[2016-09-12 00:04] #70 closed

[2016-10-28 22:16] leewz opened #71 "Renaming changes working/base directory?"
I'm using gulp-rename 1.2.2 with [gulp-less](https://www.npmjs.com/package/gulp-less) and [gulp-inject](https://www.npmjs.com/package/gulp-inject), and somehow, the path that was injected into the HTML had a bunch of extra `../` if I piped it through gulp-rename. The weird thing is, most of them were there because I piped through gulp-rename, not because of how I used it. Both of these gave the sa

[2016-10-31 19:52] leewz commented on #71
I isolated it. gulp-rename is changing `file.path` (the [absolute path](https://github.com/gulpjs/vinyl#filepath)) to a relative path if base is specified.

gulpfile.js:

[code]

Output:

	[15:49:30] Using gulpfile ~\Documents\BUGTEST-gulp-rename\gulpfile.js
	[15:49:30] Starting 'default'...
	[15:49:30] Finished 'default' after 8.83 ms
	Before: C:\Users\Franklin\Documents\BUGTEST-gulp-rename\gulpf

[2016-12-06 18:06] hudsonfoo commented on #53
Renaming a file "in memory" is non-intuitive given that renaming is typically applied at the file system level. This plugin either does one thing and is poorly named or it does half a thing. Having to install two separate plugins to rename a file is a lot of friction to complete an otherwise incredibly simple task.

[2016-12-06 18:27] contra commented on #53
@hudsonfoo gulp works like this:

- read file (gulp.src)
- do some stuff, modify the file in-memory (plugins)
- commit file changes back to fs (gulp.dest/or others)

Plugins aren't allowed to touch the fs, the user is responsible for writing changes back to the fs using gulp.dest or any other vinyl adapter. Adding a flag that makes this plugin touch the fs is never going to happen because it viola

[2016-12-07 16:49] wembernard commented on #53
Thanks for sharing this. It might be interesting to add this to the Readme.md for plugin users to be informed and warned about the "How it's intended to be used" which seems to not be intuitive for everyone.

And, if I may, your paradigm (which btw is the https://en.wikipedia.org/wiki/Unix_philosophy), didn't stop Unix to develop `mv` which is somewhat a `cp` + `rm` combined and is (sometimes) use

[2016-12-16 18:14] strarsis opened #73 "Move rename logic to separate module"
It would be nice to have the logic for changing a file name based on a passed option object
separated from the gulp plugin using it.

Edit: There are modules like [rename](https://www.npmjs.com/package/rename) but not used by this gulp plugin.

[2016-12-16 18:17] contra commented on #73
What API are you proposing?

[2016-12-23 16:35] strarsis commented on #73
The reason is that other gulp plugins also offer rename functionality, e.g. gulp-responsive which uses [rename](https://www.npmjs.com/package/rename). But also for a gulp plugin that checks for changed source files, it would be helpful as it also has to apply the filename transformations (for checking the target files).

[2017-01-24 00:00] alburritos opened #74 "Unable to rename multiple files"
It's not clear how one can rename multiple files from different directories. I've tried breaking it out so that gulp will rename each file individually. As you can imagine, this is very inefficient for a large number of files as I'd have to define a task for each one.

[code]

However, when I run gulp, only the first task completes -- none of the other files get renamed.

As an aside, is there jus

[2017-01-24 00:30] contra commented on #74
Yeah, it does. What's your desired output? Having a hard time figuring out what you want to do from your code.

[2017-01-24 01:41] alberth8 commented on #74
@contra I want to rename `someFile.js` to `someFile-v1.1.js` for multiple files that are all in different directories.

[2017-01-24 02:03] alberth8 commented on #74
@contra Please see my updated post

[2017-01-24 02:08] contra commented on #74
Well, you can pass multiple globs to gulp.src for your different folders and pass a function to gulp-rename that has any logic you want in it to handle the renaming (if file is from so and so folder, rename to xyz, etc.)

For routing the files to the right folders on dest, you can use something like gulp-if.

[2017-01-24 02:27] alberth8 commented on #74
@contra Can you explain how to do that last bit?

[code]

BTW, even if I do `gulp.dest("build")`, only the first file in `src` shows up. Why don't the other ones get processed?

[2017-01-24 05:17] contra commented on #74
[code]

This only processes one file for you?

[2017-04-19 20:49] bcosca opened #75 "Remove prefixed src"
How do you rename a prefixed `xyz-abc-123.txt` file to a simple `123.txt`?

[2017-04-20 19:26] sbungert opened #76 "Extension ignored if not the same as the src extension."
I have a task for converting less to css and minifying it.

`gulp.task('styles', function() {
  return gulp.src(srcDir + 'css/**/*.less')
		.pipe(plumber({
			errorHandler: onError
		}))
    .pipe(less())
		.pipe(cssimport({cssImportOpts}))
		.pipe(cssmin())
    .pipe(rename('app.css'))
    .pipe(gulp.dest(destDir + 'css/'));
});`

It works as expected but instead of calling the file "all.css", it

[2017-04-20 19:27] contra commented on #76
That shouldn't be the case at all, what does this do?

[code]

[2017-04-20 20:01] sbungert commented on #76
The same... "somefile" is created, not "somefile.css"

[2017-04-20 20:04] contra commented on #76
If you want a workaround you can use `rename({ extname: 'css' })` while I look into this

[2017-04-20 20:06] contra commented on #76
I'm looking through the code and I don't see anything that would cause this to happen, if you provide a string as the argument it uses that as the new file path - nothing fancy happening there. This is a pretty common case so I think it would have been reported already if it wasn't working.

Are you on the latest versions of your dependencies?

[2017-04-20 20:07] sbungert commented on #76
.pipe(rename({extname: 'css', basename: 'all'}))

creates the file "allcss"

.pipe(rename({extname: '.css', basename: 'all'}))

Creates the same

[2017-04-20 20:10] sbungert commented on #76
Here is my full gulpfile
https://pastebin.com/gr8YUAdP

[2017-04-20 20:14] sbungert commented on #76
And my package.json

https://pastebin.com/YJ4avZEV

[2017-04-22 13:40] sbungert commented on #76
Sorry!

My mistake. I haven't used windows for years and am only doing so as my Linux laptop is being repaired. Windows hides file extensions of know filetypes.

Sorry again.

[2017-04-22 13:40] #76 closed

[2017-05-18 12:35] #75 closed

[2017-05-30 09:12] xahon commented on #67
+1

[2017-07-03 15:02] williamvivier commented on #67
+1

[2017-07-03 15:04] contra commented on #67
Should be a one line change - https://github.com/hparra/gulp-rename/blob/master/index.js#L45

Use path.relative instead AFAIK. Who wants to send the PR? Add a quick test as well.

[2017-07-06 21:11] RichardLitt opened #77 "Push patch to npm"
The license was updated in #50 - however, there's been no change to the package on npm because the patch hasn't been pushed. This means that this module is still coming up as an error on http://npm1k.org/. Would you be able to bump the version and push?

[2017-08-11 13:59] bm-stschneider opened #78 "Rename only files not folders"
I have a glob like `/themes/**/public/**` where I want to rename the files by eliminating the `public` folder.
Currently I have to go
[code]
It is a bit cumbersome to have to rename empty folders as well. If I leave out the `if` I end up with and empty public folder in the dest.
Is there a way to only affect files and not folders?

[2017-08-11 15:02] heikki commented on #78
Maybe this:

[code]

https://github.com/isaacs/node-glob#options

[2017-08-11 16:53] contra commented on #78
We should pass the actual file in as a second arg so we can utilize this https://github.com/gulpjs/vinyl#fileisdirectory or other checks (maybe you want to rename based on contents? who knows)

[2017-08-14 07:33] bm-stschneider commented on #78
Thank you

[2017-09-20 07:26] sinbargit commented on #71
I have this problem to, that's block me.

[2017-10-28 18:59] #78 closed

[2017-10-28 19:00] shinnn commented on #78
At least for this use case, @heikki's solution is most suitable.

[2018-01-24 10:52] mrDinckleman opened #80 "Replace deprecated dependency gulp-util"
[`gulp-util`](https://www.npmjs.com/package/gulp-util) has been deprecated recently. Continuing to use this dependency may prevent the use of your library with the recently released version 4 of Gulp, **it is important to replace `gulp-util`**.

The [README.md](https://github.com/gulpjs/gulp-util) lists alternatives for all the components so a simple replacement should be enough.

Your package is

[2018-01-24 10:52] #80 closed

[2018-05-15 08:44] TheDancingCode commented on #77
It would also be good to push the changes made in #79. The last version on npm dates from 2015.

[2018-05-15 14:35] contra commented on #77
Published 1.2.3 - I forgot I had publish rights for this repo.

@hparra Thoughts on moving this to the new gulp-community org for more maintainers?

[2018-05-15 14:35] #77 closed

[2018-05-15 14:35] contra commented on #10
I think this is fine for a dev environment

[2018-05-15 14:35] #10 closed

[2018-05-15 14:36] contra commented on #4
README conventions no longer in place

[2018-05-15 14:36] #4 closed

[2018-05-15 14:37] contra commented on #63
This should be a pretty simple PR if anyone wants to add it - just one line of code to change and a new test.

[2018-05-15 14:38] contra commented on #68
New maintainer here - cleaning up old tickets so I'm going to close this - if you still have this issue let me know and I'll reopen it.

[2018-05-15 14:38] #68 closed

[2018-05-15 14:40] contra commented on #74
Cleaning up old tickets so I'm going to close this - if you still have this issue let me know and I'll reopen it.

[2018-05-15 14:40] #74 closed

[2018-05-15 14:41] contra commented on #71
Cleaning up old tickets so I'm going to close this - if you still have this issue let me know and I'll reopen it.

[2018-05-15 14:41] #71 closed

[2018-05-15 14:42] contra commented on #73
We support a custom function being passed in so you can do whatever you want in there, I don't think we need to make our API surface any more complex than that.

[2018-05-15 14:42] #73 closed

[2018-06-11 23:35] #16 closed

[2018-07-23 20:47] contra commented on #63
Published as 1.4.0

[2018-07-23 20:47] #63 closed

[2019-05-09 16:15] vrspider commented on #74
@alburritos found the solution ? seems the solution from @contra only process one file.

`gulp.src('../../src/**/test.js')
    .pipe(rename('test1.js'))
    .pipe(gulp.dest('dest'));`

I thought all file in the src folder will be copied and rename to test1.js

but I only see only test1.js in the folder "test"

[2019-06-17 14:44] flosch-hb opened #84 "Error: write after end"
Hello,

I am trying to use this package as a stream for a Yeoman generator, to rename gitignore files on the fly:
https://yeoman.io/authoring/file-system.html#transform-output-files-through-streams

[code]

The error received in the terminal seems to come from `readable-stream`:
`Error [ERR_STREAM_WRITE_AFTER_END]: write after end`

Related issue on yeoman repository:
https://github.com/yeoman/yo/

[2019-06-28 09:50] alvaromartmart commented on #84
I'm having the same issue

[2019-06-28 10:01] flosch-hb commented on #84
If you wish a quickfix @alvaromartmart, you can use v1.2.2 meanwhile:

[code]

[2019-07-22 08:32] evanre opened #85 "Rename via function. Return object instead of reassign."
Hi, I'm trying to rename files using the change-case module. But the eslint shows me an error `no-param-reassign`. Isn't it better to return the object instead of reassigning its properties?
Replace this:
[code]
to this:
[code]
or even this:
[code]

[2019-07-22 14:56] contra commented on #85
@evanre I agree that making the object immutable would be a better API, but I think supporting both cases would make the most sense. If an object is returned, use that - otherwise use the object passed in. This is mainly to make things easier for people who aren't using ES7 for their gulpfiles and still using node support syntax where cloning can be really annoying via Object.assign.

If you want

[2019-08-01 07:24] nathanwoulfe opened #86 "Set extname by file content value"
I'm needing to set the extname property based on a value in the file:

[code]

The ternary operation always falls through to the false branch, regardless of the file contents. Is there a better way to achieve this?

[2019-08-01 07:27] nathanwoulfe commented on #86
And of course as I type that, I solve the issue - the example works fine.
I was trying to set like this:

[code]

to essentially set a suffix on the file rather than changing the extension. Correct syntax is:

[code]

[2019-08-01 07:27] #86 closed

[2019-08-07 21:57] pensierinmusica opened #87 "Rename via function - Maximum call stack size exceeded"
Hi, using Gulp v4.0.2 and gulp-rename v1.4.0, I get a `RangeError: Maximum call stack size exceeded` error, with this code:

[code]

[2019-08-07 22:00] pensierinmusica commented on #87
Nevermind, my mistake.

[2019-08-07 22:00] #87 closed

[2019-11-12 04:04] jariwalakrunal1983 commented on #84
`registerTransformStream` with `gulp-rename` is still an issue even with gulp-rename v1.2.2. However, I get it working with glob.

[code]

[2019-12-04 16:33] #85 closed

[2019-12-05 15:07] StefanRutzmoser commented on #84
Still an issue with v2.0.0. With 1.2.2 it works for me.

[2019-12-12 14:54] anselmbradford opened #89 "Why don't the releases on github match npm?"
Why have the releases on https://github.com/hparra/gulp-rename/releases stopped years ago, but they have continued on https://www.npmjs.com/package/gulp-rename ?

[2019-12-12 17:18] noraj commented on #89
Git tags were not pushed since v1.2.2 in 2015

![image](https://user-images.githubusercontent.com/16578570/70733943-916e6b80-1d0b-11ea-94fb-7d08d80c1f8b.png)
on npm:

![image](https://user-images.githubusercontent.com/16578570/70733975-a0551e00-1d0b-11ea-94e2-6d4909092108.png)

It is not a mismatch but the code on github is here as the 2.0.0, it is just that git tags are not pushed.

[2019-12-12 18:30] contra commented on #89
I took over as the new maintainer of the project - I don't use git releases on any of my projects and opted to use a changelog instead. I kept the releases from the previous maintainer in place in case anyone was relying on them.

[2019-12-12 18:30] #89 closed

[2019-12-12 18:39] noraj commented on #89
For example, renovatebot will show a diff between releases based on git tags.
Linux distro packaging systems are often relying on git tags.
One on github who want to quickly check versions available will click on "Release" (which is auto-generated from git tags).
See https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2019-12-12 20:23] noraj commented on #89
Also the "watch" "on release" won't work without git tags.

![image](https://user-images.githubusercontent.com/16578570/70746105-93ddbf00-1d25-11ea-9df2-f2b6a0b5dd1b.png)

[2019-12-16 17:44] zepang commented on #87
I get into trouble in the same mistake，could you tell me the resolution?

[2020-01-02 08:02] woody-li opened #90 "unexpected let keyword"
I'm using gulp-rename for a site which supported old versions of IE .
But there's a `let` in the code in the below line.
so the browser crashes.
https://github.com/hparra/gulp-rename/blob/master/index.js#L32

[2020-01-06 16:41] contra commented on #90
@woody-li You may have a serious issue with your bundler - gulp and gulp-rename are not made to work in a browser, and the code will not end up in the browser in any normal bundling/build scenario.

[2020-01-06 16:41] #90 closed

[2020-01-11 21:31] barisdemirhan opened #91 "The prefix deleted several characters"
The first character I entered for the prefix value is being deleted.

Code:
[code]
Output:
ssets_wl.carousel.min.css
ssets_query.fancybox.css

[2020-01-12 22:51] barisdemirhan commented on #91
I found the source of the problem.
It seems to be due to project paths that contain special characters.
I would appreciate it if you provide the necessary update.

[2020-01-13 16:58] contra commented on #91
Can you give a few examples of paths that are not working?

[2020-03-17 02:54] sgmbr commented on #89
Please use git releases. The code diff between releases helps when the changelog doesn't fully make sense.

[2020-05-12 11:07] danechitoaie commented on #84
Having same issue, and what I've noticed is that it seems to be caused when you make changes to file object that is cloned `originalFile.clone({ contents: false });`

In my case I got it working by replacing gulp-rename with:

[code]

This seems to be working and I'm not getting any errors. As soon as I add `chunk.clone({ contents: false })` and start using that it crashes. Without it it works.

[2020-06-18 14:33] Halfist opened #92 "Error: ENOENT: no such file or directory When Adding Question Mark to File Extension"
I spent around 4 hours to figure out that `Error: ENOENT: no such file or directory` is caused by adding `?` to file extension, however `#` works.

Example:
[code]

I'm trying to bust cache with this approach, and I can't modify `basename`, because it'll change file name, hence code, which requests file, won't find it. So, instead of `script.1592490407282.js` I need `script.js?t=1592490407282`, be

[2020-06-18 15:13] Halfist commented on #92
It seems that I confused changing file name with its URL. So, something like `src="/path/to/script.js?t=1592490407282"` would work, while renaming `script.js` to `script.js?t=1592490407282` won't, at least on Windows.

[2020-06-18 15:13] #92 closed

[2020-06-26 11:15] #91 closed

[2020-09-23 20:55] DFreds commented on #84
This is still an issue. Downgrading to <=1.2.2. worked for me

[2020-10-16 14:56] Therealskythe commented on #53
4 years later and people like me are still wasting time because the name of this module makes them think it renames files instead of copying them.

And no, renaming an object does not leave you with two. Not in real life, and not when dealing with digital objects like files or folders. Basically what wembernard said in 2016.

[2020-10-16 17:18] contra commented on #53
If you would like to contribute some changes to the README that make it less confusing please feel free to send a PR - documentation changes are very helpful and easy to merge.

[2020-12-22 15:51] bendenoz commented on #84
+1 - stream never ending in 1.4.0 when file source >= 100k (approximately)

[2020-12-22 17:49] contra commented on #84
Cam everyone who is having issues post what version of node you are using?

[2020-12-22 18:00] bendenoz commented on #84
had issue with both node 8 and 10

[2020-12-22 20:00] contra commented on #84
@bendenoz Can you try it with the latest version of node and see if that resolves it?

Node 8 is a year past end of life as well so not something we're trying to support right now, but node 10 not working is something we will fix if its an issue there.

[2020-12-22 20:04] contra commented on #84
As another thing you could try if you want to be a guinea pig - on line 3 of this package replace `require('stream')` with `require('readable-stream')` and see if that does anything.

[2020-12-23 13:08] bendenoz commented on #84
@contra , readable-stream doesn't change anything, but the problem seems to lie in the originalFile.clone call.
If I remove it and use the file originalFile directly it works.
Tried changing options but didn't help.

The file is created by an old version of gulp-util / vinyl so it might be part of the problem

[2021-02-03 18:16] XedinUnknown opened #95 "Function Style Not Respecting Suffix"
When trying to add a suffix in a function-style `rename()` call, the suffix gets ignored.

[code]

Output of `log()` together with `debug()`:

[code]

This makes sense: the suffix and prefix are not being joined joined in the [function-style scenario][1] like they are in the [object-stye scenario][2].

[1]: https://github.com/hparra/gulp-rename/blob/master/index.js#L37
[2]: https://github.com/hpar

[2021-05-05 13:15] oxy opened #98 "gulp-rename 1.4.0 does not signal async completion"
I recently ran `yarn upgrade` and my gulp builds for vscode started failing:
[code]
I bisected it by checking each dependency update with `git bisect` and traced it back to upgrading gulp-rename from `1.2.2` to `1.4.0`. It appears that it fires an async task that it never completes, per the error message - and CHANGELOG.md doesn't have any records pre-2.0. Were there any breaking changes between t

[2021-05-05 22:55] contra commented on #98
Can you include a full code sample?

[2021-05-12 11:41] oxy commented on #98
Hey there - sorry about the delay on a response; I'm currently working through my final exams at university, so time is limited!
I'll write a reproduction script over this weekend/early next week.

[2021-09-30 14:01] Mahir92 opened #99 "Audit vulnerabilities detected in the gulprename project on Tag: v1.2.2"
**Issue**: We detected vulnerable dependencies in your project by using the command “npm audit”:
#### npm audit report

glob-parent  <5.1.2
Severity: moderate
Regular expression denial of service - https://npmjs.com/advisories/1751
fix available via `npm audit fix`
node_modules/glob-parent
  chokidar  1.0.0-rc1 - 2.1.8
  Depends on vulnerable versions of glob-parent
  node_modules/chokidar
    glo

[2021-09-30 20:20] Mahir92 opened #100 "No lock file found in the gulprename project on Tag: v1.2.2"
**Issue**: There is no package-lock.json or npm-shrinkwrap.json file uploaded to the GitHub repository https://github.com/hparra/gulp-rename

**Questions**: We are conducting a research study on the lock files used in JS projects. We were curious:
1. Will you upload any lock files to GitHub as recommended above? (Yes/No), and why?:
2. Do you have any additional comments? (If so, please write it do

[2022-03-02 12:37] riteshjagga commented on #98
This became a difficult problem to reproduce. I tried to reproduce this as a simple case in a different project than the real project:

**Node Version:** 16.14.0

**gulpfile.js**
[code]
package.json
[code]
app1.js
[code]

app2.js
[code]

the issue is not reproducible in this simple project but if it doesn't work in the real project even if all dependencies are exactly same and of same version.

I

[2022-03-03 18:50] yocontra commented on #98
@riteshjagga Can you use the `finished` function instead of listening for the `end` event on the `es.merge`?

Also - usage of event-stream is not recommended, it's 3 years out of date and has a lot of issues dealing with newer streams - use a different library to merge the streams. Likely this is the root issue.

[2022-03-14 14:04] riteshjagga commented on #98
@yocontra Thank you for the suggestion, listening the `finished` instead of `end` throws the error for 1.2.2. too. I'm not entirely sure though that if it is event stream issue. Trying more...

I inspected in detail and found that [commenting this line of code](https://github.com/hparra/gulp-rename/commit/fb1a8e370fe20c9ba171b0afac668ec9f8634544#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba2661

[2022-04-27 10:31] riteshjagga commented on #98
Finally a solution to this problem,

Adding [gulp-buffer](https://www.npmjs.com/package/gulp-buffer) in front of the gulp-rename (this package) solves the problem, as in

[code]

For the complete gulpfile, please see [this comment](https://github.com/hparra/gulp-rename/issues/98#issuecomment-1056883084).

I don't completely understand streams and buffers but I think this has to do with the file si

[2022-05-15 19:30] pravi opened #101 "please add tag for version 2.0.0"
Latest version in npm registry is 2.0.0 but github tag is missing for this release.

[2022-05-17 01:39] yocontra commented on #101
Done!

[2022-05-17 01:39] #101 closed

[2022-05-28 16:38] SamuelMiller opened #102 "[qustion] How to replace spaces and underscores with dashes?"
Hello, I don't know much about regex and how to use it with the gulp rename plugin.

How would I write a function to replace all spaces and underscores in filenames with dashes so that a name like img_234 q50.jpg would be changed to img-234-q50.jpg.

Thanks, Sam